.page-footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    border-top: 1px solid var(--sl-color-gray-5);
    padding-top: 20px;
    line-height: 1.5;
    font-size: 14px;
}

.hero {
    h1 {
        background: -webkit-linear-gradient(120deg, #0095ff 30%, #42d392);
        -webkit-text-fill-color: transparent;
        -webkit-background-clip: text;
        font-weight: 700;
        font-size: 2.25rem;

        @media (min-width: 640px) {
            font-size: 3.75rem;
        }
        @media (min-width: 768px) {
            font-size: 6rem;
        }
    }
    
    img {
        scale: 1.5;
    }
}

.card {
    border-radius: 20px;
}

.starlight-aside {
    border-radius: 10px;
}

.starlight-aside--tip {
    --sl-color-asides-text-accent: var(--sl-color-green-high);
    --sl-color-asides-border: var(--sl-color-green-high);
    background-color: var(--sl-color-green-low);
}

.text-leader {
    font-size: 1.5rem;
    font-weight: 300;
    line-height: 1.2;
}

table {
    width: 100%;
    border-collapse: collapse;
    font-size: 14px;
    display: table!important;
    
    th, td {
        padding: 0.5rem 1rem;
    }
}

ul {
    /*line-height: 1.4;*/
    /*font-size: 14px;*/
}

pre {
    border-radius: 10px!important;
}

code {
    border-radius: 4px;
}