---
import type { Props } from '@astrojs/starlight/props';
import Default from '@astrojs/starlight/components/Footer.astro';

const isHomepage = Astro.props.id === '';
---

{
    isHomepage ? (
       <footer class="page-footer">
           <p>Copyright 2012-{new Date().getFullYear()} by <a href="https://pimenov.com.ua">Serhii Pimenov</a></p>
           <p><small>Metro UI 5.1, Doc 2025.1</small></p>
       </footer>
    ) : (
        <Default {...Astro.props}>
            <slot />
        </Default>
    )
}